<h1>Blackjack!</h1>

<p>Welcome <%= session[:player_name] %>!</p>


<div class="well">
<h4>Dealer's cards:</h4>


	<% session[:dealer_cards].each do |card| %>
	<%= card_image(card) %>
	<% end %>


</div>

</br>

<div class="well">
<h4>Player's Cards:</h4>

	<% session[:player_cards].each do |card| %>
	<%= card_image(card) %>
	<% end %>


</div>

</br>


<p>
	What would <%= session[:player_name] %> like to do?
</br>
	<%= session[:player_name] %> has a total of <%= calculate_total(session[:player_cards])%>.
<!-- You must set up a condition to remove the hit or stay buttons when the game is over -->
<%if @show_hit_or_stay_buttons %>
		<form id="hit_form" action="/game/player/hit" method='post'>
			<input type="submit" class="btn btn-success" value="Hit" />
		</form>


		<form id="stay_form" action="/game/player/stay" method='post'>
			<input type="submit" class="btn btn-warning" value="Stay" />
		</form>
	<% end %>

</p>